@tailwind base;
@tailwind components;
@tailwind utilities;
<<<<<<< HEAD
/* body {
  background-color: bisque;
} */
=======
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1{
  font-size: larger;
}
>>>>>>> 41ec44e82b7e11645524f0e300f91b200141749a
